h1 {
  text-align: center;
  margin-top: 40px;
}

button {
  place-items: center;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  margin-top: 10px;
}

select {
  width: 110px;
  padding: 2px 2px;
  margin-top: 8px;
  height: 50px;
  font-size: 14px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
  font:
    14px Arial,
    sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 40px;
}

.entry-card {
  border: 1px solid gray;
  padding: 10px;
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  background-color: lightyellow;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
}

.delete-btn {
  background-color: lightyellow;
  color: black;
  border: none;
  padding: 1px 1px;
  cursor: pointer;
  float: right;
  margin-right: 1px;
  margin-top: 1px;
}
